<!DOCTYPE html>
<html ng-app="foodApp">

<head>
    <meta charset="utf-8">
    <title>FoodFinder</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <link rel='stylesheet' href='src/assets/css/fonts.css' type='text/css'>
    <link rel="stylesheet" href="src/assets/css/bootstrap.css">
    <link rel="stylesheet" href="src/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="src/assets/css/food.css">

    <!-- Bundle CSS by GULP -->
    <!-- <link rel="stylesheet" href="build/css/bundle.css"> -->


</head>
<body ng-controller="appController">
<div class="container-fluid">
            <div class="navbar-header row col-sm-12">
                <label>
                    <span class="head btn">GoodFood<i class="t-icon fa fa-cutlery" aria-hidden="true"></i></span>
                    <input id="searchTextField" ng-model="searchTextField" type="text" size="50">
                    <button type="button" class="find-me btn btn-info" ng-click="findMe()"><i class="fa fa-map-pin" aria-hidden="true"></i>Locate ME</button>
                </label>
            </div>
            <div class="row" ng-hide="showSpin">
                    <div ui-view></div>
                    <!-- <div class="col-sm-5" ng-click="hideMap()">{{hideCanvas? 'Show':'Hide'}} Map
                    ng-show="!hideCanvas" ng-hide="hideCanvas"
                    </div> -->
                    <div id="map_canvas"  class="col-sm-5" style="height:200px"></div>
                    <div class="col-sm-5" ng-if="fullR" style="color: #AB9355 ; margin-top: 10px; padding-left: 35px;">SPONSORED & POPULAR </div>
                    <div class="col-sm-5 section" ng-if="fullR">
                        <div class="tile" ng-repeat="r in fullR.nearby_restaurants">
                                <div ng-click="tileSelected(r.restaurant.R.res_id)">
                                <img class="tile1 rImg" ng-src="{{r.restaurant.featured_image}}">
                                <div class="tile1">
                                            <div class="name">{{r.restaurant.name}}</div>
                                            <div>{{r.restaurant.location.locality}}</div>
                                            <div>{{r.restaurant.location.address}}</div>
                                </div>
                               </div>
                        </div> 
                        </div>
                              
            </div>
                    <div id="mydiv" ng-show="showSpin">
                        <img src="src/assets/spin.gif" alt="Smiley face"  class="ajax-loader"/>
                    </div>
            
            

</div>
    <script src="src/assets/libs/vendor/jquery.js"></script>
    <script src="src/assets/libs/vendor/jquery-ui.js"></script>
    <script src="src/assets/libs/angular/angular.js"></script>
    <script src="src/assets/libs/angular/angular-ui-router.js"></script>
    <script src="src/assets/libs/angular/angular-ui-bootstrap.js"></script>
    <script src="src/assets/libs/vendor/zomato.js"></script>
  <!--   <script src="https://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=true"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&region=uk&language=en&sensor=true&key=AIzaSyAkMpP1cDvp2rOUQSba3vcWw4yW3D-UDQs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>

    <script src="index.js"></script>

    <!-- Bundle JS by GULP -->
    <!-- <script src="build/js/bundle.js"></script> -->
</body>
</html>
